// PoiretOne-Regular
// Lato-Thin
// Lato-Regular

@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('../fonts//PoiretOne-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Thin'; 
    src: url('../fonts/Lato-Thin.ttf')
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf')
}