//COLORS
$darkGreen: #425e38;
$searchGrey: #aebfb2;
$navbarGreen: #4d8075;
$buttonYellow: #d4d081;
$white: white;
$background: #62b7c1;

//FONTS
$font1: 'Arial';
$font2: 'Lato-Regular';
//$font3: 'PoiretOne-Regular';
$font3: 'Heebo';

//SCREEN SIZE
$size1: '560px';